@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.homepage-main {
  padding: 10em 3rem;
  width: 100%;
}

@media only screen and (min-width: 48em) {
  .your-day {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 90em) {
  .your-day {
    max-width: 120rem;
    margin: 0 auto;
  }
}
.your-day__img {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  order: 1;
}
@media only screen and (min-width: 48em) {
  .your-day__img {
    flex: 0 0 55%;
  }
}
@media only screen and (min-width: 48em) {
  .your-day__content {
    padding-right: 5rem;
  }
}
.your-day__text {
  margin: 3rem 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 5rem;
  color: #444444;
}

.heading-primary {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  color: #151515;
}
@media only screen and (min-width: 90em) {
  .heading-primary {
    position: absolute;
    mix-blend-mode: difference;
    color: #FFFFFF;
    z-index: 12;
  }
}

.heading-secondary {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  margin: 3rem 0;
}

.btn {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem;
  background-color: #151515;
  display: flex;
  justify-content: center;
  width: 20rem;
  position: relative;
  transition: all 0.3s;
}
.btn:link, .btn:visited {
  color: #FFFFFF;
}
.btn:hover {
  background-color: #D5966C;
}
.btn--right::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5.6rem;
  right: -5.6rem;
  bottom: 0;
  background: url(../assets/icon-arrow-right.svg), #D5966C;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.btn--right:hover::after {
  background-color: #151515;
}
.btn--overlay {
  position: absolute;
  top: 0;
  left: 5.6rem;
}
@media only screen and (min-width: 48em) {
  .btn--overlay {
    left: 9rem;
  }
}
.btn--left::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5.6rem;
  left: -5.6rem;
  bottom: 0;
  background: url(../assets/icon-arrow-left.svg), #D5966C;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.btn--left:hover::before {
  background-color: #151515;
}

.footer {
  padding: 4rem;
}
@media only screen and (min-width: 48em) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}
.footer--home {
  background-color: #151515;
  color: #FFFFFF;
}
.footer--location {
  background-color: #D5966C;
  color: #151515;
  min-height: 30rem;
}
.footer__logo {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.footer__text {
  margin: 3rem 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
@media only screen and (min-width: 48em) {
  .footer__text {
    width: 50%;
    margin: 0;
  }
}

.social {
  display: flex;
}
.social__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: currentColor;
  transition: all 0.3s;
}
.social__icon:not(:last-child) {
  margin-right: 1.5rem;
}
.social--home .social__icon:hover {
  fill: #D5966C;
}
.social--location .social__icon:hover {
  fill: #FFFFFF;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
@media only screen and (min-width: 48em) {
  .gallery {
    margin: 3rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 60%;
    gap: 3rem;
    grid-template-areas: "img-1 img-2" "img-1 img-3";
  }
}
@media only screen and (min-width: 90em) {
  .gallery {
    max-width: 120rem;
  }
}
.gallery__img {
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .gallery__img--1 {
    grid-area: img-1;
    height: 100%;
    width: auto;
    overflow: hidden;
  }
}
@media only screen and (min-width: 48em) {
  .gallery__img--2 {
    grid-area: img-2;
    height: 100%;
  }
}
.gallery__img--3 {
  padding: 4rem;
  color: #FFFFFF;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 48em) {
  .gallery__img--3 {
    grid-area: img-3;
    position: relative;
  }
}
.gallery__text {
  margin: 3rem 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #FFFFFF;
}

.header {
  margin-bottom: 12rem;
  position: relative;
}
@media only screen and (min-width: 48em) {
  .header {
    margin-bottom: 8rem;
  }
}
@media only screen and (min-width: 90em) {
  .header {
    background: linear-gradient(to right, #151515 0%, #151515 50%, white 50%);
    background-size: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
}
.header__img {
  width: 100%;
  box-sizing: border-box;
}
@media only screen and (min-width: 48em) {
  .header__img {
    width: 55%;
  }
}
@media only screen and (min-width: 90em) {
  .header__img {
    width: 37.5svw;
    margin: 0 auto;
    display: block;
    position: relative;
    background-color: black;
  }
}
@media only screen and (min-width: 48em) {
  .header__heading {
    position: absolute;
    top: 25%;
    left: 50%;
  }
}
@media only screen and (min-width: 90em) {
  .header__heading {
    mix-blend-mode: difference;
    left: 21%;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 48em) {
  .header__text-and-link {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 40%;
  }
}
@media only screen and (min-width: 90em) {
  .header__text-and-link {
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 20%;
  }
}
.header__text {
  margin: 3rem 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #444444;
}
@media only screen and (min-width: 90em) {
  .header__text {
    margin-top: 0;
  }
}

.map-box {
  width: 100%;
  position: relative;
}

.map {
  width: 100%;
  z-index: -1;
}

.location-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}

.map {
  position: relative;
}

.location {
  color: #FFFFFF;
  flex: 1 0 100%;
  padding: 3rem;
}
@media only screen and (min-width: 48em) {
  .location {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 90em) {
  .location {
    padding: 5rem;
  }
}
@media only screen and (min-width: 48em) {
  .location__heading {
    flex: 0 0 30%;
    margin-right: auto;
  }
}
@media only screen and (min-width: 48em) {
  .location__content {
    flex: 0 0 60%;
  }
}
.location__street-address {
  font-size: 3.2rem;
  color: #D5966C;
  font-family: "Big Shoulders Display", sans-serif;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.location__address {
  margin: 3rem 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.location__text {
  margin: 3rem 0;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

/*# sourceMappingURL=dev.css.map */
